<div id="map" (click)="getCoordinates();">
  <!-- <div class='tt-input-icon'>
    <input class='tt-input' name='query' placeholder='Query e.g. pizza'>
    <span class='tt-icon -search'></span>
</div> -->
<div class="input-group col-md-4">
  <input class="form-control py-2 border-right-0 border" type="search" value="search" id="example-search-input">
  <span class="input-group-append">
    <button class="btn btn-outline-secondary border-left-0 border" type="button">
          <i class="fa fa-search"></i>
    </button>
  </span>
</div>
</div>
