.messages {
  margin-bottom: 30px;
  margin-left: 5%;
  // border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  max-width: 90%;
  h4 {
    margin: 10px 0;
    text-align: center;
  }
  .message {
    display: flex;
    .pic {
      display: flex;
      align-items: center;
      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
    }
    .message-text {
      padding: 10px;
      span {
        // font-size: 11px;
        opacity: 0.8;
        font-weight: bold;
      }
      p,label {
        // font-size: 15px;
        opacity: 0.6;
        margin: 2px 0;
      }
    }
  }
}


%input {
  width: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.08);
  padding: 10px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 15px;
  &:focus{
    outline: none;
  }
}
.input-area {
  width: 100%;
  form {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      flex-direction: column;
      max-width: 450px;
      input {
        @extend %input;
        margin: 0 0 10px 0;
      }
      textarea {
        @extend %input;
      }
    }
    button {
      width: 25%;
      border: none;
      background: darkslategray;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-top: 10px;
      padding: 5px 20px;
      border-radius: 27px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px 0 rgba(0, 0, 0, 0.08);
    }
  }
}

.example-full-width {
  width: 100% !important;
}
