@import url('../booking-form/service-provider-form/service-provider-form.component.scss');

.custom-select {
  height: 38px;
  // padding: 15px;
  // font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  color: #495057;
  // background-color: #FDFDFD;
  // border: 1px solid #312BC6;
}
