<div class="py-2 text-center" style="padding-left:15px; padding-right:15px">
  <form [formGroup]="serviceConsumerForm" (ngSubmit)="onSubmit(content)">
    <div class="center">
      <app-profile-photo [isNewForm]="isNewServiceConsumer" [cssClass]="'margin-left-40'"
            [photoId]="selectedServiceConsumerData ? selectedServiceConsumerData.serviceConsumerId: null"
            (fileEvent)="setUploadFile($event);" [photoObjId]="'srvcConsumerPhotoId'">
      </app-profile-photo>
    </div>
    <div class="row">
      <div class="col paddingBottom25">
        <mat-form-field class="">
          <mat-label>First Name *</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>
      </div>
      <div class="col paddingBottom25">
        <mat-form-field class="">
          <mat-label>Last Name *</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
      </div>
      <div class="col-md-3 paddingBottom25">
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Date of birth" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      <div class="col paddingBottom25">
            <mat-form-field appearance="legacy">
              <mat-label>Age group</mat-label>
              <input matInput formControlName="ageGroup">
            </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col paddingBottom25">
        <mat-form-field class="">
          <mat-label>Email *</mat-label>
          <input matInput formControlName="email" autocomplete="new-email" (blur)="checkAlreadyExist('email');">
        </mat-form-field>
        <mat-label style="color:red; display: block;" *ngIf="isAlreadyExistEmail">Email id already exists.</mat-label>
      </div>
      <div class="col paddingBottom25">
        <mat-form-field class="">
          <mat-label>Password *</mat-label>
          <input type="password" matInput #passwordElement="ngbPopover" autocomplete="new-password" formControlName="password"
            [ngbPopover]="popover" (input)="validatePassword(passwordElement);" popoverTitle="password must have at least" triggers="manual" placement="right"
            container="body" [autoClose]="false">
        </mat-form-field>
      </div>
      <div class="col paddingBottom25">
        <mat-form-field class="">
          <mat-label>Mobile *</mat-label>
          <input appInputNumber="true" matInput formControlName="mobile">
        </mat-form-field>
      </div>
      <div class="col paddingBottom25">
            <mat-form-field appearance="legacy">
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender">
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
    </div>
    <span formGroupName="address">
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="">
            <mat-label>Address 1 *</mat-label>
            <input matInput id="address" formControlName="addressLine1">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="">
            <mat-label>Address 2 *</mat-label>
            <input matInput id="address2" formControlName="addressLine2">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="">
            <mat-label>Pin Code *</mat-label>
            <input matInput id="pinCode" (blur)="getAddressFromPinCode();" formControlName="pinCode">
          </mat-form-field>
          <mat-label style="color:red; display: block;" *ngIf="isInvalidPincode">{{createEventResp}}</mat-label>
        </div>
        <div class="col-md-3">
              <mat-form-field class="">
                <mat-label>Country *</mat-label>
                <input matInput id="country" formControlName="country" [(ngModel)]="address.country">
              </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 paddingBottom25">
          <mat-form-field class="">
            <mat-label>State *</mat-label>
            <input matInput id="state" formControlName="state" [(ngModel)]="address.state">
          </mat-form-field>
        </div>
        <div class="col-md-3 paddingBottom25">
            <mat-form-field class="">
              <mat-label>City *</mat-label>
              <input matInput id="city" formControlName="city" [(ngModel)]="address.city">
            </mat-form-field>
          </div>
      </div>
    </span>
    <div class="row">
          <div class="col-md-3 paddingBottom25">
            <mat-form-field class="">
              <mat-label>Jersey Number *</mat-label>
              <input appInputNumber="true" matInput formControlName="jerseyNr">
            </mat-form-field>
          </div>
          <div class="col-md-3 paddingBottom25">
            <mat-form-field class="">
              <mat-label>Jersey Name *</mat-label>
              <input matInput formControlName="jerseyName">
            </mat-form-field>
          </div>
          <div class="col-md-3 paddingBottom25">
            <mat-form-field class="" appearance="legacy">
              <mat-label>Color Club</mat-label>
              <mat-select formControlName="colourClub">
                <mat-option value="Red">Red</mat-option>
                <mat-option value="Blue">Blue</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    </div>

    <!--------------------------------Preferences-------------------------------->
    <div class="row" id="preference{{i}}" *ngFor="let preference of preferencesList; let i=index;">
      <div class="col-md-3 margin-top25">
        <label>Preference {{i+1}} *</label>
      </div>
        <div class="col-md-3 paddingBottom25">
          <mat-form-field appearance="legacy">
            <mat-label>Select Category</mat-label>
            <mat-select (selectionChange)="changeCategory($event.value, i)" id="eventCategory{{i}}"
            formControlName="eventCategory{{i+1}}">
              <mat-option *ngFor="let value of preference.eventCatList; let i = index"
              [value]="value.name">{{value.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
          <div class="col-md-3 paddingBottom25">
                <mat-form-field appearance="legacy">
                  <mat-label>Select Activity Name</mat-label>
                  <mat-select (selectionChange)="changeActivityName($event.value, i)" id="eventActivityName{{i}}"
                  formControlName="eventActivityName{{i+1}}">
                    <mat-option *ngFor="let value of preference.catActivityList" [value]="value">{{value}}</mat-option>
                  </mat-select>
                </mat-form-field>
        </div>
      </div>

    <div class="center paddingBottom25">
      <button type="submit" class="btn btn-primary" [disabled]="disabledUpdate || !serviceConsumerForm.valid || isInvalidPincode">Submit</button>
    </div>
  </form>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{popUpMsgHeader}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismissMessage();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{createEventResp}}</p>
  </div>
  <div class="modal-footer">
    <a role="button" class="btn btn-primary white-color" (click)="dismissMessage();">Close</a>
  </div>
</ng-template>

<ng-template #popover>
  <ul>
    <li> 8 characters long</li>
    <li> 1 uppercase and 1 lowercase character</li>
    <li> 1 number</li>
  </ul>
</ng-template>
