.input-field-width {
  width:30vw;
}
textarea{
  height:30vh;
}

.bookingform {
  margin: 3em auto 0;
  text-align: center;
}
.login-form {
  background: rgba(158, 158, 158, 0.18);
  padding: 2em 3em;
  border-radius: 0px;
}
.login-form form {
  margin-top: 2em;
}
.login-form ul li.text-info {
  width: 34%;
  color: #eee;
  font-size: 1em;
  font-weight: 400;
  float: left;
  padding-top: 0;
  text-align: left;
  margin-right: 0.5em;
  padding: 9px 0;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
ol, ul {
  list-style: none;
}

.clear {
  clear: both;
}
.center {
  text-align: center;
}
.header h1 {
  font-size: 3.5em;
  font-weight: 400;
}

.eventcatDetailsUl{
  display:flex;
  select {
    width:202px !important;
  }
}

.btn-outline-dark:hover {
  color: #ffffff;
}
.white-color {
  color: #fff !important;
}

.home-btn {
  margin-top: -15px;
  margin-left: 30px;
  float: left;
  cursor: pointer;
  text-decoration: underline;
}

.navEvents {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #007bff!important;
}
.navEvents > li {
  float: left;
}

.navEvents > li a {
  display: block;
  color: rgba(255,255,255,.5);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navEvents > li a:hover:not(.active) {
  color: rgba(255,255,255,.75);
}

.navEvents > li a.active {
  color: white;
  // background-color: #4CAF50;
}

.logout-btn {
  float: right !important;
  a {
    color: white !important;
  }
  cursor: pointer;
}

.displayGrid {
  display: grid;
}



@media (max-width: 1366px) {
  .bookingform {
      width: 46%;
  }
}

.list-input {
  // margin-left: 420px;
  display: grid;
  input {
    margin-bottom: 10px;
  }

}
