.profileImg {
  height:250px;
  width:250px;
}

.paddingBottom25 > input {
  width:350px;
}

select {
  width: 350px;
  height: 30px;
}

.width-620 {
  width: 620px;
}

.password-icon {
  position: absolute;
  right: 5px;
}
