<!-- <html>

<body> -->
    <!-- <h1>Please wait! Do not refresh the page.
    </h1>
  <form method="post" action="https://securegw-stage.paytm.in/order/process" id="formSubmit" (ngSubmit)="submit();">
    <input type='hidden' name='MID' [value]="paytm.MID" />
    <input type='hidden' name='WEBSITE' [value]='paytm.WEBSITE' />
    <input type='hidden' name='INDUSTRY_TYPE_ID' [value]='paytm.INDUSTRY_TYPE_ID' />
    <input type='hidden' name='CHANNEL_ID' [value]='paytm.CHANNEL_ID' />
    <input type='hidden' name='ORDER_ID' [value]='paytm.ORDER_ID' />
    <input type='hidden' name='CUST_ID' [value]='paytm.CUST_ID' />
    <input type='hidden' name='MOBILE_NO' [value]='paytm.MOBILE_NO' />
    <input type='hidden' name='EMAIL' [value]='paytm.EMAIL' />
    <input type='hidden' name='TXN_AMOUNT' [value]='paytm.TXN_AMOUNT' />
    <input type='hidden' name='CALLBACK_URL' [value]='paytm.CALLBACK_URL' />
    <input type='hidden' name='CHECKSUMHASH' [value]='checksum'/>
  </form> -->
  <!-- <script type="text/javascript">document.f1.submit() -->
  <!-- </script> -->
<!-- </body>

</html> -->
