
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$onlineGamesBooking-primary: mat-palette($mat-indigo);
$onlineGamesBooking-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$onlineGamesBooking-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$onlineGamesBooking-theme: mat-light-theme($onlineGamesBooking-primary, $onlineGamesBooking-accent, $onlineGamesBooking-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($onlineGamesBooking-theme);
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

/* Global Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3, h4 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  // font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #333;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dropdown-btn, .dropdown-list {
  display: inline-block;
  border: 1px solid #adadad;
  width: 30vw !important;
  padding: 6px 12px;
  margin-bottom: 0;
  // font-size: 12px;
  font-weight: 400;
  line-height: 1.3 !important;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
  background: #fff;
}


.multiselect-dropdown .dropdown-btn .dropdown-down {
  display: inline-block;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 6px solid #000 !important;
  border-left: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
}
.center {
  text-align: center;
  // margin-top: 4em;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
}

.heading {
  padding-bottom: 20px;
    margin-top: 20px;
}

.btn-primary {
  color: #fff !important;
}

.close-icon-padding {
  padding: 5px !important;
}

.paddingBottom25 {
  padding-bottom: 25px;
}

.float-left {
  float: left;
}
