.registerationBody {
  background: #d3e0ea;
  padding-top: 50px;
  padding-bottom: 50px;
}
.registerationWrapper {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
}
.registeration-title {
  color:#FFF;
  margin-bottom: 0;
}

.registeration-header {
  background: #3f51b5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

form {
  /* width: 400px; */
  margin-left: 72px;
  font-size: initial;
}

.width-185 {
  width: 185px;
}

.width-400 {
  width: 400px;
}

.width-620 {
  width: 620px;
}

input:focus {
  border-color: transparent !important;
  outline: none;
}

.registerbtn {
  background-color: #57b846;
  color: white;
  padding: 16px 20px;
  margin: 8px 0px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0.9;
  width: 200px;
}

.registerbtn:disabled {
  cursor: default;
  opacity: 0.6;
}

.container {
  padding: 16px;
  background-color: white;
  height: 55%;
  border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

input[type=text], input[type=password], input[type=number], input[appInputNumber], select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
}

.center-div {
  display: flex;
  justify-content: center;
}



.signin > p {
  margin-bottom: 2rem;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

mat-radio-group {
  flex-direction: row !important;
}

.password-icon-container {
  position: relative;
}

.password-icon {
  position: absolute;
  right: 10px;
  top: 20px;
}

@media (max-width: 767px) {
  .form-row {
    display: block;
  }
  form {
    /* width: auto; */
    margin-left: 10px;
    font-size: initial;
    margin-right: 10px;
  }
  .width-400 {
    width: auto;
  }

  .width-620 {
    width: auto;
  }
}

